.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 50px;
}

.App-intro {
  font-size: large;
  margin: 0 auto;
  max-width: 600px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* --- */

.red-heart {
  color: #ed4956;
}

.black-general {
  color: #000;
}

.card-container {
  width: 600px;
  margin-bottom: 30px;
}

.card-container .title {
  text-align: left;
  padding: 15px;
  border: 1px solid #afafaf;
}

.card-container .title-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
}

.card-container .title-text {
  margin-left: 10px;
  vertical-align: middle;
}

.card-container .card-image {
  width: 600px;
  height: 600px;
}

.card-container .card-image img {
  width: 600px;
  height: 600px;
}

.card-container .card-icons {
  text-align: left;
  padding: 10px;
}

.card-container .card-icons span {
  margin-right: 15px;
  font-size: 25px;
  cursor: pointer;
}

.card-container .card-icons-info {
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
}

.card-container .card-info {
  text-align: left;
  padding-left: 10px;
  padding-bottom: 10px;
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
}

.card-container .card-caption {
  text-align: left;
  padding: 0px 20px 5px;
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
}

.card-container .card-caption .card-username {
  margin-right: 10px;
  font-weight: bold;
}

.card-container .card-time {
  font-size: 14px;
  color: #a7a7a7;
  text-align: left;
  padding: 10px 20px 0;
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
}

.card-container .card-time-separator {
  border-bottom: 1px solid #afafaf;
  margin: 15px;
}

.card-container .card-comment {
  text-align: left;
  padding: 18px 20px 20px;
  border-right: 1px solid #afafaf;
  border-left: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  margin-top: -15px;
}

.card-container .card-comment input {
  border: 0;
  font-size: 17px;
  outline: none;
  width: 100%;
}
